<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>D809C0EF85B1187682F9B87BF1C14C6F</string>
            <key>code2</key>
            <string>7A7C29082E6370424F7E0E5E1F7245C9</string>
            <key>code3</key>
            <string>842BF9D3376AD06C28D82A5A1BE2F085</string>
            <key>code4</key>
            <string>036A032D9C2064A51857B3E986D1338F</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>109837187</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>172249065902874474</string>
            <key>package_name</key>
            <string>com.eamar.user</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>30966000029119361</string>
            <key>product_id</key>
            <string>388421841221828992</string>
            <key>client_id</key>
            <string>1303631180846887616</string>
            <key>client_secret</key>
            <string>[!0004882A8AFAE5D7D96D8ABD9CFE872AF0CF1372C3A6AD27867AF41067DEE350BDAD2562386DCBB835F3283E35FF19710F456BD072BD8E9B8DD5E1925DE1D956EFEC9502CE7507CD4288E71705BB19B30983D9E75C13C4A96AF936A3FD6C6DA1E2]</string>
            <key>project_id</key>
            <string>388421841221828992</string>
            <key>app_id</key>
            <string>172249065902874474</string>
            <key>api_key</key>
            <string>DAEDAMNkm/T10RqnMiledk0y2b8sQairv+XXBa6nZm5kQDsNz7J72NE3LPv1c6JIXV2fmTveg6DHU3kLyN3CMsWhxB4zeVdITv4fwQ==</string>
            <key>package_name</key>
            <string>com.eamar.user</string>
        </dict>
        <key>service</key>
        <dict/>
        <key>region</key>
        <string/>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.eamar.user</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!00D69547E89F40CD389DC35D82C393D8DB8C6F391EF3F321AF690254C3DD99211DB4424B00B5EC2E3C622CA33A637A87F27FB5606E634A2865B5E83427E05B486F15F1B8CDDC276FF1FA9E1FBA8BD9A3131477EB486F0FC8D43AE724BC9A73344B]</string>
                    <key>app_id</key>
                    <string>172249065902874474</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>9D055554B828FB9649E1BFC810E2F11F5A8E90DA0F0B2B4FE1CCCAFD440BD478</string>
                    <key>code2</key>
                    <string>0B788CFAA2BE72D219C2822AF4CEE88644390D36B998BEC6BD2F849498C5FE67</string>
                    <key>code3</key>
                    <string>C83A2D77576F3A0A4AEFEA1BDE838EF84B913DE6A7B3FFA330C5529FCA6776F8</string>
                    <key>code4</key>
                    <string>AF2EAEC14520E5BFF059344187083BD0</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
