<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715551820384-rlopli676tv3qepl269tn1n91q1l9qe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715551820384-rlopli676tv3qepl269tn1n91q1l9qe0</string>
	<key>API_KEY</key>
	<string>AIzaSyDULqI0U9DA_QQdz4NnwR0DP-2dj2zyZag</string>
	<key>GCM_SENDER_ID</key>
	<string>715551820384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eamar.user</string>
	<key>PROJECT_ID</key>
	<string>eamar-ecda8</string>
	<key>STORAGE_BUCKET</key>
	<string>eamar-ecda8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715551820384:ios:d44e1eafd5df922f61d105</string>
</dict>
</plist>